django==1.6.1
requests==2.0.1
django-pipeline==1.3.15
django-extensions==1.2.5
Pillow==2.2.1
easy-thumbnails==1.4
chaussette==1.0
circus==0.10.0
psycopg2==2.5.1
slimit==0.8.1
isodate==0.4.9
djangorestframework==2.3.9
-e git+https://github.com/Fantomas42/django-tagging.git#egg=django_tagging
-e git+https://github.com/Fantomas42/django-blog-zinnia.git@develop#egg=django_blog_zinnia
django-ckeditor-updated==4.2.6
