{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>Formulaire d'inscription</h1>

<form class="signup form-horizontal" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  {{ form.non_field_errors }}

  <fieldset>
    <legend>Statut</legend>
    {% include 'account/field.html' with field=form.is_provider label="Fournisseur de données" %}
    {% include 'account/field.html' with field=form.is_consumer label="Réutilisateur de données" %}
  </fieldset>

  <fieldset>
    <legend>Structure</legend>
    {% include 'account/field.html' with field=form.organization_type %}
    {% include 'account/field.html' with field=form.organization_activity_field label="Domaine d'activité" %}
    {% include 'account/field.html' with field=form.organization_name label="Nom structure" %}
    {% include 'account/field.html' with field=form.organization_address label="Adresse" %}
    {% include 'account/field.html' with field=form.organization_post_code label="Code Postal" %}
    {% include 'account/field.html' with field=form.organization_town label="Ville" %}
    {% include 'account/field.html' with field=form.organization_url label="Site Internet" %}
  </fieldset>

  <fieldset>
    <legend>Contact</legend>
    {% include 'account/field.html' with field=form.last_name label="Nom" %}
    {% include 'account/field.html' with field=form.first_name label="Prénom" %}
    {% include 'account/field.html' with field=form.email label="Email" %}
    {% include 'account/field.html' with field=form.phone_number label="Téléphone" %}
  </fieldset>

  <fieldset>
    <legend>Connexion</legend>
    {% include 'account/field.html' with field=form.username label="Identifiant" %}
    {% include 'account/field.html' with field=form.password1 label="Mot de passe" %}
    {% include 'account/field.html' with field=form.password2 label="Confirmation du mot de passe" %}
  </fieldset>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit">Inscription</button>
</form>


{% endblock %}


