{% extends 'zinnia/_entry_detail_base.html' %}

{% load comments i18n zinnia_tags %}
{% load thumbnail %}

{% block entry-header %}
<div class="entry-header">
  {% block entry-title %}
  <h2 class="entry-title">
    <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
      {{ object.title|widont }}
    </a>
  </h2>
  {% endblock entry-title %}
</div>
{% endblock entry-header %}

{% block entry-body %}
<div class="entry-body">
  {% block entry-image %}
  {% if object.image %}
  <div class="entry-image">
    {% if continue_reading %}
    <a href="{{ object.get_absolute_url }}" title="{{ object.title }}" rel="bookmark">
      {% endif %}
      <img src="{% thumbnail object.image 300x300 crop="smart" %}" alt="{{ object.title }}" class="left" />
      {% if continue_reading %}
    </a>
    {% endif %}
  </div>
  {% endif %}
  {% endblock entry-image %}
  {% block entry-content %}
  <div class="entry-content">
    {{ object_content|safe }}
  </div>
  {% endblock entry-content %}
  {% block continue-reading %}
  {% if continue_reading and object_content.has_more %}
  <p class="continue-reading">
    <a href="{{ object.get_absolute_url }}"
       title="{% blocktrans with object=object.title %}Continue reading {{ object }}{% endblocktrans %}"
       rel="bookmark">
      {% trans "Continue reading" %}
    </a>
  </p>
  {% endif %}
  {% endblock continue-reading %}
</div>
{% endblock entry-body %}

{% block entry-footer %}
<div class="entry-footer">
  {% block entry-info %}
  <span class="entry-info">
    {% block entry-published %}
    <abbr class="entry-published" title="{{ object.creation_date|date:"c" }}">{{ object.creation_date|date:"DATE_FORMAT" }}</abbr>
    {% endblock entry-published %}
    -
    {% block entry-authors %}
    {% with authors=object.authors.all %}
    {% if authors|length %}
    {% for author in authors %}
    <span class="vcard author">
      <a href="{{ author.get_absolute_url }}" class="fn url{% if not author.get_full_name %} nickname{% endif %}" rel="author"
         title="{% blocktrans %}Show all {{ author }}'s entries{% endblocktrans %}">{{ author }}</a></span>{% if not forloop.last %}, {% endif %}
    {% endfor %}
    {% else %}
    {% endif %}
    {% endwith %}
    {% endblock entry-authors %}
  </span>
  {% endblock entry-info %}
</div>
{% endblock entry-footer %}
