@import "lesshat.less";

@table-border-radius: 10px;
.datatable-listing {

    border: @table-border-radius solid #363339;
    border-collapse: separate;
    .border-radius(@table-border-radius);

    tbody {
        background-color: #363339;
    }

    th {
        color: white;
        background-color: #363339;
    
        &.sorting:after, &.sorting_desc:after, &.sorting_asc:after {
            background-image: url('../img/sprite_datatable_sort_icons.png');
            background-repeat: no-repeat;
            content: "";
            margin-left: 10px;
            height: 20px;
            position: absolute;
            width: 20px;
            background-position: 0px 0px;
        }
        &.sorting_desc:after {
            background-position: -20px 0px;
        }
        &.sorting_asc:after {
            background-position: -40px 0px;
        }
    }

    tr {

        &.even td {
            background-color: white;    
        }

        &.odd td {
            background-color: #f2f2f2;
        }

        &:first-child {

            td:first-child {
                .border-top-left-radius(@table-border-radius);
            }

            td:last-child {
                .border-top-right-radius(@table-border-radius);
            }
        }

        &:last-child {

            td:first-child {
                .border-bottom-left-radius(@table-border-radius);
            }

            td:last-child {
                .border-bottom-right-radius(@table-border-radius);
            }
        }       
    }


}

/* Overwriting bootstrap theming */
.table > thead > tr > th {
    border-bottom: none;
}