{% load i18n %}
{% blocktrans %}
Bonjour,

Vous faites maintenant partie de la communauté OpenDataEvents ! Nous vous proposons quelques consignes pour commencer à utiliser l'agrégateur.

    Profil
    Commencez par compléter votre profil. Ces informations seront visibles de tous les fournisseurs et les réutilisateurs de données. Certaines informations seront par ailleurs reprises dans chacun de vos événements, comme les infos billetterie ou presse.
    Le lien vers le profil est accessible dans le bandeau de navigation en haut de page.

    Fournisseurs de données, transmettez vos données événementielles
    L'agrégateur ODE vous propose 3 façons de créer du contenu :
    - Création manuelle de chaque événement : rubrique "Créer"
    - Import manuel d'un ou plusieurs événements via un fichier csv (tableur) : rubrique "Importer"
    - Import automatique de vos données événementielles après mise en place d'un flux lié à la base de données de votre site Internet (nécessite l'intervention d'un prestataire web) : rubriques "Webservices" (instructions pour la création du flux) et "Importer" (ajouter de l'url du flux)

    Réutilisateurs, récupérez les données événementielles
    La page "Webservices" vous donne toutes les instructions techniques pour l'utilisation de l'API (interface de programmation).

Merci pour vos contributions !

L'équipe ODE
{% endblocktrans %}
