{% extends "accounts/base.html" %}

{% load i18n %}

{% block content %}
<h1>{% trans "Mot de passe oublié" %}</h1>

{% if form.non_field_errors %}
<div class="alert alert-danger">
  {{form.non_field_errors}}
</div>
{% endif %}

<form method="post" action="{{ request.path }}" class="form-horizontal">
{% csrf_token %}
<div class="row form-element">
    <div class="col-md-12">
        {% include 'accounts/field.html' with field=form.new_password1 %}
        {% include 'accounts/field.html' with field=form.new_password2 %}
    </div>
</div>

<input type="submit" class="btn btn-default" value="Envoyer" />
</form>

{% endblock %}
