{% extends "accounts/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}Profil{% endblock %}

{% block content %}
<form id="signup-form" class="signup form-horizontal" method="post"
      action="{% url 'accounts:profile' %}">
  {% csrf_token %}
  {% if form.non_field_errors %}
  <div class="alert alert-danger">
    {{ form.non_field_errors }}
  </div>
  {% endif %}
  <fieldset>
    <legend>{% trans 'Connexion' %}</legend>
    {% include 'accounts/field.html' with field=form.password1 label="Mot de passe" %}
    {% include 'accounts/field.html' with field=form.password2 label="Confirmation du mot de passe" %}
  </fieldset>
  <fieldset>
    <legend>{% trans 'Infos structure' %}</legend>
    {% include 'accounts/field.html' with field=form.organization_activity_field label="Domaine d'activité" %}
  <fieldset>
    <legend>{% trans 'Infos générales événements' %}</legend>
    <p>{% trans 'À renseigner si applicable à tous vos événements' %}</p>
    {% include 'accounts/field.html' with field=form.organization_price_information label="Tarif" %}
    {% include 'accounts/field.html' with field=form.organization_audience label="Public" %}
    {% include 'accounts/field.html' with field=form.organization_capacity label="Capacité de la salle" %}
  </fieldset>
  <button type="submit" class="btn btn-default">{% trans 'Sauvegarder' %}</button>
</form>
{% endblock %}


