{% extends "accounts/base.html" %}

{% load url from future %}
{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

{% block head_title %}Profil{% endblock %}

{% block content %}
<h1>{% trans "Edition du profil" %}</h1>

<form id="signup-form" class="signup form-horizontal" method="post"
      enctype='multipart/form-data'
      action="{% url 'accounts:profile' %}">
  {% csrf_token %}
  {% if form.non_field_errors %}
  <div class="alert alert-danger">
    {{ form.non_field_errors }}
  </div>
  {% endif %}

  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <legend>{% trans 'CONNEXION' %}</legend>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include 'accounts/field.html' with field=form.password1 %}
        {% include 'accounts/field.html' with field=form.password2 %}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <legend>{% trans 'PHOTO PROFIL' %}</legend>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <img alt="Photo profil" src="{% if user.organization.picture and user.organization.picture != 'False' %}{% thumbnail user.organization.picture 100x100 %}{% else %}{% static "img/profile_picture_placeholder.png" %}{% endif %}">
      </div>
      <div class="col-md-10">
        {% include 'accounts/field.html' with field=form.organization_picture %}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <legend>{% trans 'INFOS STRUCTURE' %}</legend>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div id="main-organization-types">
          {% include 'accounts/checkbox_field.html' with field=form.organization_is_provider %}
          {% include 'accounts/checkbox_field.html' with field=form.organization_is_consumer %}
        </div>
        {% if user.organization.is_provider %}
        <div class="organization-type-details">
          {% include 'accounts/checkbox_field.html' with field=form.organization_is_creator %}
          {% include 'accounts/checkbox_field.html' with field=form.organization_is_host %}
          {% include 'accounts/checkbox_field.html' with field=form.organization_is_performer %}
        </div>
        {% endif %}
        {% if user.organization.is_consumer %}
        <div class="organization-type-details">
          {% include 'accounts/checkbox_field.html' with field=form.organization_is_media %}
          {% include 'accounts/checkbox_field.html' with field=form.organization_media_url %}
          {% include 'accounts/checkbox_field.html' with field=form.organization_is_website %}
          {% include 'accounts/checkbox_field.html' with field=form.organization_website_url %}
          {% include 'accounts/checkbox_field.html' with field=form.organization_is_mobile_app %}
          {% include 'accounts/checkbox_field.html' with field=form.organization_mobile_app_name %}
          {% include 'accounts/checkbox_field.html' with field=form.organization_is_other %}
          {% include 'accounts/checkbox_field.html' with field=form.organization_other_details %}
        </div>
        {% endif %}
      </div>
      <div class="col-md-4">
        {% include 'accounts/field.html' with field=form.organization_type %}
        {% include 'accounts/field.html' with field=form.organization_name %}
        {% include 'accounts/field.html' with field=form.organization_address %}
        {% include 'accounts/field.html' with field=form.organization_post_code %}
        {% include 'accounts/field.html' with field=form.organization_town %}
        {% include 'accounts/field.html' with field=form.organization_url %}
        {% include 'accounts/field.html' with field=form.organization_activity_field %}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <legend>{% trans 'CONTACT / RÉFÉRENT ODE' %}</legend>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% include 'accounts/field.html' with field=form.last_name %}
        {% include 'accounts/field.html' with field=form.first_name %}
        {% include 'accounts/field.html' with field=form.email %}
        {% include 'accounts/field.html' with field=form.phone_number %}
      </div>
    </div>
  </fieldset>
  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <legend>{% trans 'INFOS GÉNÉRALES ÉVÉNEMENTS' %}</legend>
        <p>{% trans 'À renseigner si applicable à tous vos événements' %}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        {% include 'accounts/field.html' with field=form.organization_price_information %}
        {% include 'accounts/field.html' with field=form.organization_audience %}
      </div>
      <div class="col-md-4">
        {% include 'accounts/field.html' with field=form.organization_capacity %}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <div class="col-md-4">
        <legend>{% trans 'Contact Billetterie' %}</legend>
        {% include 'accounts/field.html' with field=form.organization_ticket_contact_name %}
        {% include 'accounts/field.html' with field=form.organization_ticket_contact_email %}
        {% include 'accounts/field.html' with field=form.organization_ticket_contact_phone_number %}
      </div>
      <div class="col-md-4">
        <legend>{% trans 'Contact Presse' %}</legend>
        {% include 'accounts/field.html' with field=form.organization_press_contact_name %}
        {% include 'accounts/field.html' with field=form.organization_press_contact_email %}
        {% include 'accounts/field.html' with field=form.organization_press_contact_phone_number %}
      </div>
    </div>
  </fieldset>

  <div class="row form-element">
    <div class="col-md-12">
      <button type="submit" class="btn btn-default">{% trans 'Sauvegarder' %}</button>
    </div>
  </div>
</form>
{% endblock %}
