{% extends "accounts/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>Formulaire d'inscription</h1>

<form id="signup-form" class="signup form-horizontal" id="signup_form" method="post"
      action="{% url 'accounts:signup' %}">
  {% csrf_token %}
  {% if form.non_field_errors %}
  <div class="alert alert-danger">
    {{ form.non_field_errors }}
  </div>
  {% endif %}

  <fieldset>
    <legend>Statut</legend>
    {% with field=form.is_provider %}
    <div class="fieldWrapper checkbox {% if field.errors %}has-error{% endif %}">
      {% if field.errors %}
      <span class="help-block">{{ field.errors }}</span>
      {% endif %}
      {{ field }}
      <label class="control-label" for="{{ field.id_for_label }}">Fournisseur</label>
    </div>
    {% endwith %}
    <div id="is-provider-details" class="subchoices collapse out">
      {% include 'accounts/checkbox_field.html' with field=form.is_host label="Lieu d'accueil d'événement" %}
      {% include 'accounts/checkbox_field.html' with field=form.is_creator label="Créateur d'événement" %}
      {% include 'accounts/checkbox_field.html' with field=form.is_performer label="Intervenants/artistes" %}
    </div>

    {% with field=form.is_consumer %}
    <div class="fieldWrapper checkbox {% if field.errors %}has-error{% endif %}">
      {% if field.errors %}
      <span class="help-block">{{ field.errors }}</span>
      {% endif %}
      {{ field }}
      <label class="control-label" for="{{ field.id_for_label }}">Réutilisateur de données</label>
    </div>
    {% endwith %}
    <div id="is-consumer-details" class="subchoices collapse out">
      {% include 'accounts/checkbox_field.html' with field=form.is_media label="Publication d'un média print/web" %}
      {% include 'accounts/field.html' with field=form.media_url label="URL" %}
      {% include 'accounts/checkbox_field.html' with field=form.is_website label="Site web" %}
      {% include 'accounts/field.html' with field=form.website_url label="URL" %}
      {% include 'accounts/checkbox_field.html' with field=form.is_mobile_app label="Application mobile" %}
      {% include 'accounts/field.html' with field=form.mobile_app_name label="Nom" %}
      {% include 'accounts/checkbox_field.html' with field=form.is_other label="Autre" %}
      {% include 'accounts/field.html' with field=form.other_details label="Précisions" %}
    </div>
  </fieldset>

  <fieldset>
    <legend>Structure</legend>
    {% include 'accounts/field.html' with field=form.organization_type %}
    {% include 'accounts/field.html' with field=form.organization_activity_field label="Domaine d'activité" %}
    {% include 'accounts/field.html' with field=form.organization_name label="Nom structure" %}
    {% include 'accounts/field.html' with field=form.organization_address label="Adresse" %}
    {% include 'accounts/field.html' with field=form.organization_post_code label="Code Postal" %}
    {% include 'accounts/field.html' with field=form.organization_town label="Ville" %}
    {% include 'accounts/field.html' with field=form.organization_url label="Site Internet" %}
  </fieldset>

  <fieldset>
    <legend>Contact</legend>
    {% include 'accounts/field.html' with field=form.last_name label="Nom" %}
    {% include 'accounts/field.html' with field=form.first_name label="Prénom" %}
    {% include 'accounts/field.html' with field=form.email label="Email" %}
    {% include 'accounts/field.html' with field=form.phone_number label="Téléphone" %}
  </fieldset>

  <fieldset>
    <legend>Connexion</legend>
    {% include 'accounts/field.html' with field=form.username label="Identifiant" %}
    {% include 'accounts/field.html' with field=form.password1 label="Mot de passe" %}
    {% include 'accounts/field.html' with field=form.password2 label="Confirmation du mot de passe" %}
  </fieldset>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-default">Inscription</button>
</form>


{% endblock %}


