{% load i18n %}
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"
          aria-hidden="true">
    &times;
      </button>
      <h4>{% block head_title %}{% trans "Chargement en cours..." %}{% endblock %}</h4>
    </div>
    <div class="modal-body">
      {% block content %}
      {% endblock %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">
    {% trans "Fermer" %}
      </button>
    </div>
  </div>
</div>

