{% extends 'layout.html' %}
{% load i18n %}

{% block content %}

<h1>{% trans "Liste des événements" %}</h1>

{% if user.organization.is_provider %}
<div class="event-list-subnav nav nav-tabs">
  <li class="{% if user_only %}active{% endif %}">
  <a href="{% url 'event_list_user' %}">
    {% trans 'Mes événements' %}
  </a>
  </li>
  <li class="{% if not user_only %}active{% endif %}">
  <a href="{% url 'event_list' %}">
    {% trans 'Tous les événements' %}
  </a>
  </li>
</div>
{% endif %}

<table class="datatable-listing table table-striped"
       data-source="{% if not user_only %}{% url 'event_json_list' %}{% else %}{% url 'event_json_list_user' %}{% endif %}"
       id="events-listing">
  <thead>
    <tr>
      {% for label in event_column_labels %}
        <th>{{label}}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for label in event_column_labels %}
        <td></td>
      {% endfor %}
    </tr>
  </tbody>
</table>

{% if user_only %}
<div class="form-element text-right clearfix">
  <a href="{% url 'events_delete_rows' %}"
    class="btn btn-default datatable-delete-rows"
    data-source="#events-listing">{% trans "Supprimer" %}</a>
</div>
{% endif %}

<div class="modal fade" id="events-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal"
		aria-hidden="true">
	  &times;
	</button>
	<h4>{% trans "Chargement en cours..." %}</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">
	  {% trans "Fermer" %}
	</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
