{% extends request.is_ajax|yesno:"ajax_modal.html,layout.html" %}
{% load i18n %}

{% block head_title %}{% endblock %}

{% block content %}
<h1>
  {% if object_id %}
  {% trans "Édition d'un événement" %}
  {% else %}
  {% trans "Création d'un événement" %}
  {% endif %}
</h1>

<form action="{% if object_id != None %}{% url 'event_edit' object_id %}{% else %}{% url 'event_create' %}{% endif %}" method="POST"  class="form-horizontal">
  {% csrf_token %}
  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <legend>{% trans 'Titre' %}</legend>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
	<div class="fieldWrapper {% if errors.title %}has-error{% endif %}">
	  <label  class="control-label" for="title">{% trans 'Titre' %}</label>
	  <div class="controls">
            <input class="form-control" id="title" name="title"{% if input %} value="{{ input.title }}"{% endif %} />
            {% if errors.title %}
            <span class="help-block">{{ errors.title }}</span>
            {% endif %}
	  </div>
	</div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <legend>{% trans 'LIEU' %}</legend>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
	<div class="fieldWrapper {% if errors.location_name %}has-error{% endif %}">
	  <label  class="control-label" for="location_name">{% trans 'Nom du Lieu' %}</label>
	  <div class="controls">
            <input class="form-control" id="location_name" name="location_name"{% if input %} value="{{ input.location_name }}"{% endif %} />
            {% if errors.location_name %}
            <span class="help-block">{{ errors.location_name }}</span>
            {% endif %}
	  </div>
	</div>
	<div class="fieldWrapper {% if errors.location_address %}has-error{% endif %}">
	  <label  class="control-label" for="location_address">{% trans 'Adresse' %}</label>
	  <div class="controls">
            <input class="form-control" id="location_address" name="location_address"{% if input %} value="{{ input.location_address }}"{% endif %} />
            {% if errors.location_address %}
            <span class="help-block">{{ errors.location_address }}</span>
            {% endif %}
	  </div>
	</div>
	<div class="fieldWrapper {% if errors.location_post_code %}has-error{% endif %}">
	  <label  class="control-label" for="location_post_code">{% trans 'Code Postal' %}</label>
	  <div class="controls">
            <input class="form-control" id="location_post_code" name="location_post_code"{% if input %} value="{{ input.location_post_code }}"{% endif %} />
            {% if errors.location_post_code %}
            <span class="help-block">{{ errors.location_post_code }}</span>
            {% endif %}
	  </div>
	</div>
      </div>
      <div class="col-md-4">
	<div class="fieldWrapper {% if errors.location_town %}has-error{% endif %}">
	  <label  class="control-label" for="location_town">{% trans 'Ville' %}</label>
	  <div class="controls">
            <input class="form-control" id="location_town" name="location_town"{% if input %} value="{{ input.location_town }}"{% endif %} />
            {% if errors.location_town %}
            <span class="help-block">{{ errors.location_town }}</span>
            {% endif %}
	  </div>
	</div>
	<div class="fieldWrapper {% if errors.location_country %}has-error{% endif %}">
	  <label  class="control-label" for="location_country">{% trans 'Pays' %}</label>
	  <div class="controls">
            <input class="form-control" id="location_country" name="location_country"{% if input %} value="{{ input.location_country }}"{% endif %} />
            {% if errors.location_country %}
            <span class="help-block">{{ errors.location_country }}</span>
            {% endif %}
	  </div>
	</div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <legend>{% trans 'DATES' %}</legend>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
	<div class="fieldWrapper {% if errors.daterange or errors.start_time or errors.end_time %}has-error{% endif %}">
	  <label class="control-label" for="daterange">{% trans "Dates de l'événement" %}</label>
	  <div class="controls">
            <input class="form-control" id="daterange" name="daterange"{% if input %} value="{{ input.daterange }}"{% endif %} />
            {% if errors.daterange %}
            <span class="help-block">{{ errors.daterange }}</span>
            {% endif %}
            {% if errors.start_time %}
            <span class="help-block">{{ errors.start_time }}</span>
            {% endif %}
            {% if errors.end_time %}
            <span class="help-block">{{ errors.end_time }}</span>
            {% endif %}
	  </div>
	</div>
	<input type="hidden" id="start_time" name="start_time"{% if input %} value="{{ input.start_time }}"{% endif %} />
	<input type="hidden" id="end_time" name="end_time"{% if input %} value="{{ input.end_time }}"{% endif %} />
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <legend>{% trans 'DESCRIPTION' %}</legend>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
	<div class="fieldWrapper {% if errors.description %}has-error{% endif %}">
	  <label  class="control-label" for="description">{% trans "Texte de description de l'événement" %}</label>
	  <div class="controls">
            <textarea class="form-control" id="description" name="description">{% if input %}{{ input.description }}{% endif %}</textarea>
            {% if errors.description %}
            <span class="help-block">{{ errors.description }}</span>
            {% endif %}
	  </div>
	</div>
	<div class="fieldWrapper {% if errors.performers %}has-error{% endif %}">
	  <label  class="control-label" for="performers">{% trans 'Artistes, Intervenants (séparés par des virgules)' %}</label>
	  <div class="controls">
            <input class="form-control" id="performers" name="performers"{% if input %} value="{{ input.performers }}"{% endif %} />
            {% if errors.performers %}
            <span class="help-block">{{ errors.performers }}</span>
            {% endif %}
	  </div>
	</div>
      </div>

      <div class="col-md-4">
	<div class="fieldWrapper {% if errors.price_information %}has-error{% endif %}">
	  <label  class="control-label" for="price_information">{% trans 'Tarifs' %}</label>
	  <div class="controls">
            <input class="form-control" id="price_information" name="price_information"{% if input %} value="{{ input.price_information }}" {% else %} value="{{ organization.price_information }}" {% endif %} />
            {% if errors.price_information %}
            <span class="help-block">{{ errors.price_information }}</span>
            {% endif %}
	  </div>
	</div>
	<div class="fieldWrapper {% if errors.location_capacity %}has-error{% endif %}">
	  <label  class="control-label" for="location_capacity">{% trans 'Capacité de la salle' %}</label>
	  <div class="controls">
            <input class="form-control" id="location_capacity" name="location_capacity"{% if input %} value="{{ input.location_capacity }}" {% else %} value="{{ organization.capacity }}" {% endif %} />
            {% if errors.location_capacity %}
            <span class="help-block">{{ errors.location_capacity }}</span>
            {% endif %}
	  </div>
	</div>
	<div class="fieldWrapper {% if errors.target %}has-error{% endif %}">
	  <label  class="control-label" for="target">{% trans 'Public' %}</label>
	  <div class="controls">
            <input class="form-control" id="target" name="target"{% if input %} value="{{ input.target }}" {% else %} value="{{ organization.audience }}" {% endif %} />
            {% if errors.target %}
            <span class="help-block">{{ errors.target }}</span>
            {% endif %}
	  </div>
	</div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <legend>{% trans 'CATÉGORISATION' %}</legend>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
	<div class="fieldWrapper {% if errors.categories %}has-error{% endif %}">
	  <label class="control-label" for="categories">{% trans "Formats d'événements, séparés par des virgules (ex. concert, spectacle, exposition, conférence)" %}</label>
	  <div class="controls">
            <input class="form-control" id="categories" name="categories"{% if input %} value="{{ input.categories }}"{% endif %} />
            {% if errors.categories %}
            <span class="help-block">{{ errors.categories }}</span>
            {% endif %}
	  </div>
	</div>
	<div class="fieldWrapper {% if errors.tags %}has-error{% endif %}">
	  <label class="control-label" for="tags">{% trans  "Thèmes de l'événement, séparés par des virgules (ex. jazz, jeune-public, japon, etc.)"%}</label>
	  <div class="controls">
            <input class="form-control" id="tags" name="tags"{% if input %} value="{{ input.tags }}"{% endif %} />
            {% if errors.tags %}
            <span class="help-block">{{ errors.tags }}</span>
            {% endif %}
	  </div>
	</div>
	{% comment %}
	<div class="fieldWrapper {% if errors.related_content %}has-error{% endif %}">
	  <label class="control-label" for="related_content">{% trans 'Contenus correlés' %}</label>
	  <div class="controls">
            <input class="form-control" id="related_content" name="related_content"{% if input %} value="{{ input.related_content }}"{% endif %} />
            {% if errors.related_content %}
            <span class="help-block">{{ errors.related_content }}</span>
            {% endif %}
	  </div>
	</div>
	{% endcomment %}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <legend>{% trans 'MEDIAS' %}</legend>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
	<div class="fieldWrapper {% if errors.media_photo %}has-error{% endif %}">
	  <label class="control-label" for="media_photo">{% trans 'Photo' %}</label>
	  <div class="controls">
            <input class="form-control" id="media_photo" name="media_photo"{% if input %} value="{{ input.media_photo }}"{% endif %} />
            {% if errors.media_photo %}
            <span class="help-block">{{ errors.media_photo }}</span>
            {% endif %}
	  </div>
	</div>
      </div>
      <div class="col-md-4">
	<div class="fieldWrapper {% if errors.media_photo_license %}has-error{% endif %}">
	  <label class="control-label" for="media_photo_license">{% trans 'Licence' %}</label>
	  <div class="controls">
	    <select class="form-control" id="media_photo_license" name="media_photo_license">
	      <option value="CC BY" {% if input and input.media_photo_license == 'CC BY' %} selected="selected"{% endif %}>CC BY</option>
	      <option value="unknown" {% if input and input.media_photo_license == 'unknown' %} selected="selected"{% endif %}>{% trans 'Inconnu' %}</option>
	    </select>
            {% if errors.media_photo_license %}
            <span class="help-block">{{ errors.media_photo_license }}</span>
            {% endif %}
	  </div>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
	<div class="fieldWrapper {% if errors.media_photo2 %}has-error{% endif %}">
	  <label class="control-label" for="media_photo2">{% trans 'Photo' %}</label>
	  <div class="controls">
            <input class="form-control" id="media_photo2" name="media_photo2"{% if input %} value="{{ input.media_photo2 }}"{% endif %} />
            {% if errors.media_photo2 %}
            <span class="help-block">{{ errors.media_photo2 }}</span>
            {% endif %}
	  </div>
	</div>
      </div>
      <div class="col-md-4">
	<div class="fieldWrapper {% if errors.media_photo_license2 %}has-error{% endif %}">
	  <label class="control-label" for="media_photo_license2">{% trans 'Licence' %}</label>
	  <div class="controls">
	    <select class="form-control" id="media_photo_license2" name="media_photo_license2">
	      <option value="CC BY" {% if input and input.media_photo_license2 == 'CC BY' %} selected="selected"{% endif %}>CC BY</option>
	      <option value="unknown" {% if input and input.media_photo_license2 == 'unknown' %} selected="selected"{% endif %}>{% trans 'Inconnu' %}</option>
	    </select>
            {% if errors.media_photo_license %}
            <span class="help-block">{{ errors.media_photo_license }}</span>
            {% endif %}
	  </div>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
	<div class="fieldWrapper {% if errors.media_video %}has-error{% endif %}">
	  <label class="control-label" for="media_video">{% trans 'Vidéo' %}</label>
	  <div class="controls">
            <input class="form-control" id="media_video" name="media_video"{% if input %} value="{{ input.media_video }}"{% endif %} />
            {% if errors.media_video %}
            <span class="help-block">{{ errors.media_video }}</span>
            {% endif %}
	  </div>
	</div>
      </div>
      <div class="col-md-4">
	<div class="fieldWrapper {% if errors.media_video_license %}has-error{% endif %}">
	  <label class="control-label" for="media_video_license">{% trans 'Licence' %}</label>
	  <div class="controls">
	    <select class="form-control" id="media_video_license" name="media_video_license">
	      <option value="CC BY" {% if input and input.media_video_license == 'CC BY' %} selected="selected"{% endif %}>CC BY</option>
	      <option value="unknown" {% if input and input.media_video_license == 'unknown' %} selected="selected"{% endif %}>{% trans 'Inconnu' %}</option>
	    </select>
            {% if errors.media_video_license %}
            <span class="help-block">{{ errors.media_video_license }}</span>
            {% endif %}
	  </div>
	</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
	<div class="fieldWrapper {% if errors.media_audio %}has-error{% endif %}">
	  <label class="control-label" for="media_audio">{% trans 'Audio' %}</label>
	  <div class="controls">
            <input class="form-control" id="media_audio" name="media_audio"{% if input %} value="{{ input.media_audio }}"{% endif %} />
            {% if errors.media_audio %}
            <span class="help-block">{{ errors.media_audio }}</span>
            {% endif %}
	  </div>
	</div>
      </div>
      <div class="col-md-4">
	<div class="fieldWrapper {% if errors.media_audio_license %}has-error{% endif %}">
	  <label class="control-label" for="media_audio_license">{% trans 'Licence' %}</label>
	  <div class="controls">
	    <select class="form-control" id="media_audio_license" name="media_audio_license">
	      <option value="CC BY" {% if input and input.media_audio_license == 'CC BY' %} selected="selected"{% endif %}>CC BY</option>
	      <option value="unknown" {% if input and input.media_audio_license == 'unknown' %} selected="selected"{% endif %}>{% trans 'Inconnu' %}</option>
	    </select>
            {% if errors.media_audio_license %}
            <span class="help-block">{{ errors.media_audio_license }}</span>
            {% endif %}
	  </div>
	</div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
	<div class="fieldWrapper {% if errors.press_url %}has-error{% endif %}">
	  <label class="control-label" for="press_url">{% trans 'Communiqué de presse' %}</label>
	  <div class="controls">
            <input class="form-control" id="press_url" name="press_url"{% if input %} value="{{ input.press_url }}"{% endif %} />
            {% if errors.press_url %}
            <span class="help-block">{{ errors.press_url }}</span>
            {% endif %}
	  </div>
	</div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <legend>{% trans "PUBLICATION DE L'ANNONCE" %}</legend>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
	<div class="fieldWrapper {% if errors.daterange_publication %}has-error{% endif %}">
	  <label class="control-label" for="daterange_publication">{% trans 'Dates de publication' %}</label>
	  <div class="controls">
            <input class="form-control" id="daterange_publication" name="daterange_publication"{% if input %} value="{{ input.daterange_publication }}"{% endif %} />
            {% if errors.daterange_publication %}
            <span class="help-block">{{ errors.daterange_publication }}</span>
            {% endif %}
            {% if errors.publication_start %}
            <span class="help-block">{{ errors.publication_start }}</span>
            {% endif %}
            {% if errors.publication_end %}
            <span class="help-block">{{ errors.publication_end }}</span>
            {% endif %}
	  </div>
	</div>
	<input type="hidden" id="publication_start" name="publication_start"{% if input %} value="{{ input.publication_start }}"{% endif %} />
	<input type="hidden" id="publication_end" name="publication_end"{% if input %} value="{{ input.publication_end }}"{% endif %} />
      </div>
    </div>
  </fieldset>

  <fieldset>
    <div class="row">
      <div class="col-md-12">
        <legend>{% trans 'CONTACTS ÉVÉNEMENT' %}</legend>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
	<h5>{% trans 'Billeterie' %}</h5>
	<div class="fieldWrapper {% if errors.ticket_contact_name %}has-error{% endif %}">
	  <label class="control-label" for="ticket_contact_name">{% trans 'Nom' %}</label>
	  <div class="controls">
            <input class="form-control" id="ticket_contact_name"
		   name="ticket_contact_name"
		   {% if input %} value="{{ input.ticket_contact_name }}"
		   {% else %} value="{{ organization.ticket_contact.name }}"
		   {% endif %} />
            {% if errors.ticket_contact_name %}
            <span class="help-block">{{ errors.ticket_contact_name }}</span>
            {% endif %}
	  </div>
	</div>
	<div class="fieldWrapper {% if errors.ticket_contact_email %}has-error{% endif %}">
	  <label class="control-label" for="ticket_contact_email">{% trans 'Courriel' %}</label>
	  <div class="controls">
            <input class="form-control" id="ticket_contact_email"
		   name="ticket_contact_email"
		   {% if input %} value="{{ input.ticket_contact_email }}"
		   {% else %} value="{{ organization.ticket_contact.email }}"
		   {% endif %} />
            {% if errors.ticket_contact_email %}
            <span class="help-block">{{ errors.ticket_contact_email }}</span>
            {% endif %}
	  </div>
	</div>
	<div class="fieldWrapper {% if errors.ticket_contact_phone_number %}has-error{% endif %}">
	  <label class="control-label" for="ticket_contact_phone_number">{% trans 'Téléphone' %}</label>
	  <div class="controls">
            <input class="form-control" id="ticket_contact_phone_number"
		   name="ticket_contact_phone_number"
		   {% if input %} value="{{ input.ticket_contact_phone_number }}"
		   {% else %} value="{{ organization.ticket_contact.phone_number }}"
		   {% endif %} />
            {% if errors.ticket_contact_phone_number %}
            <span class="help-block">{{ errors.ticket_contact_phone_number }}</span>
            {% endif %}
	  </div>
	</div>
      </div>
      <div class="col-md-4">
	<h5>{% trans 'Presse' %}</h5>
	<div class="fieldWrapper {% if errors.press_contact_name %}has-error{% endif %}">
	  <label class="control-label" for="press_contact_name">{% trans 'Nom' %}</label>
	  <div class="controls">
            <input class="form-control" id="press_contact_name"
		   name="press_contact_name"
		   {% if input %} value="{{ input.press_contact_name }}"
		   {% else %} value="{{ organization.press_contact.name }}"
		   {% endif %} />
            {% if errors.press_contact_name %}
            <span class="help-block">{{ errors.press_contact_name }}</span>
            {% endif %}
	  </div>
	</div>
	<div class="fieldWrapper {% if errors.press_contact_email %}has-error{% endif %}">
	  <label class="control-label" for="press_contact_email">{% trans 'Courriel' %}</label>
	  <div class="controls">
            <input class="form-control" id="press_contact_email"
		   name="press_contact_email"
		   {% if input %} value="{{ input.press_contact_email }}"
		   {% else %} value="{{ organization.press_contact.email }}"
		   {% endif %} />
            {% if errors.press_contact_email %}
            <span class="help-block">{{ errors.press_contact_email }}</span>
            {% endif %}
	  </div>
	</div>
	<div class="fieldWrapper {% if errors.press_contact_phone_number %}has-error{% endif %}">
	  <label class="control-label" for="press_contact_phone_number">{% trans 'Téléphone' %}</label>
	  <div class="controls">
            <input class="form-control" id="press_contact_phone_number"
		   name="press_contact_phone_number"
		   {% if input %} value="{{ input.press_contact_phone_number }}"
		   {% else %} value="{{ organization.press_contact.phone_number }}"
		   {% endif %} />
            {% if errors.press_contact_phone_number %}
            <span class="help-block">{{ errors.press_contact_phone_number }}</span>
            {% endif %}
	  </div>
	</div>
      </div>
    </div>
  </fieldset>

  <div class="form-element">
  <button type="submit" class="btn btn-default">
    {% if object_id %}
    {% trans "Enregistrer les modifications" %}
    {% else %}
    {% trans "Créer l'événement" %}
    {% endif %}
  </button>
  </div>
</form>

{% endblock %}
