{% load i18n %}

{% if user.is_authenticated %}

  <div id="logged-header" class="col-md-10">

    <div class="row">

      <div id="header-nav" class="col-md-5 col-md-offset-7">
        <nav id="shortcuts">
          <ul>
            <li><a href="/about/">{% trans "Le Projet" %}</a></li>
            <li><a href="/contact/">{% trans "Contact" %}</a></li>
            <li><a href="{% url 'zinnia_entry_archive_index' %}">{% trans "Blog" %}</a></li>
          </ul>
        </nav>
        <div id="login-area-logged">
          <ul class="actions">
            <li><a href="{% url "accounts:logout" %}">{% trans "Déconnexion" %}</a></li>
            {% if user.is_superuser %}
            <li><a href="{% url 'admin:index' %}">{% trans "Tableau de bord" %}</a></li>
            {% else %}
            <li><a href="{% url "accounts:profile" %}">{% trans "Profil" %}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <nav class="main-nav logged col-md-12">
        <ul>
          <li><a href="{% url 'event_list' %}">{% trans "Événements" %}</a></li>
          {% if user.organization.is_provider or user.is_superuser %}
            <li><a href="{% url 'event_create' %}">{% trans "Créer" %}</a></li>
            <li><a href="{% url 'imports' %}">{% trans "Importer" %}</a></li>
          {% endif %}
          <li><a href="{% url 'export' %}">{% trans "Exporter" %}</a></li>
          <li><a href="{% url 'webservices' %}">{% trans "Webservices" %}</a></li>
          <li><a href="{% url 'consumer_list' %}">{% trans "Réutilisateurs" %}</a></li>
          <li><a href="{% url 'provider_list' %}">{% trans "Fournisseurs" %}</a></li>
        </ul>
      </nav>
    </div>
  </div>

{% else %}

  <nav class="main-nav unlogged col-md-6">
    <ul>
      <li><a href="/about/">{% trans "Le Projet" %}</a></li>
      <li><a href="/contact/">{% trans "Contact" %}</a></li>
      <li><a href="{% url 'zinnia_entry_archive_index' %}">{% trans "Blog" %}</a></li>
    </ul>
  </nav>

  <div id="account-links" class="col-md-4">
    <span id="my-space">{% trans "Mon Espace" %}</span>
    <div id="login-area">
      <form class="form-inline" role="form"
	    method="post" action="{% url "accounts:login" %}">
	{% csrf_token %}
	<div class="form-group">
          <input class="form-control" type="text"
		 name="username" placeholder="Identifiant" />
          <input class="form-control" type="password"
		 name="password" placeholder="Mot de passe" />
	  <input class="form-control btn btn-default" type="submit" value="Ok" />
	  </div>
      </form>
    </div>
    <div id="login-help">
      <a href="{% url "accounts:signup" %}">{% trans "Inscription" %}</a>
      <span> - </span>
      <a href="{% url "accounts:password_reset" %}">{% trans "Mot de passe oublié ?" %}</a>
    </div>
  </div>

{% endif %}
