{% load i18n %}

{% if user.is_authenticated %}

  <div id="logged-header" class="col-md-10">

    <div class="row">

      <div id="header-nav" class="col-md-5 col-md-offset-7">
        <nav id="shortcuts">
          <ul>
            <li><a href="#">{% trans "Le Projet" %}</a></li>
            <li><a href="#">{% trans "Contact" %}</a></li>
            <li><a href="#">{% trans "Blog" %}</a></li>
          </ul>
        </nav>
        <div id="login-area-logged">
          <ul class="actions">
            <li><a href="{% url "accounts:logout" %}">{% trans "Déconnexion" %}</a></li>
            <li><a href="{% url "accounts:profile" %}">{% trans "Profil" %}</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <nav class="main-nav logged col-md-12">
        <ul>
          <li><a href="#">{% trans "Événements" %}</a></li>
          {% if user.organization.is_provider or user.is_superuser %}
          <li><a href="#">{% trans "Créer" %}</a></li>
          <li><a href="#">{% trans "Importer" %}</a></li>
          <li><a href="#">{% trans "Exporter" %}</a></li>
          <li><a href="#">{% trans "Réutilisateurs" %}</a></li>
          {% endif %}
          {% if user.organization.is_consumer or user.is_superuser %}
          <li><a href="{% url 'provider_list' %}">{% trans "Fournisseurs" %}</a></li>
          <li><a href="#">{% trans "Webservices" %}</a></li>
          <li><a href="#">{% trans "Télécharger" %}</a></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>

{% else %}

  <nav class="main-nav unlogged col-md-7">
    <ul>
      <li><a href="#">{% trans "Le Projet" %}</a></li>
      <li><a href="#">{% trans "Contact" %}</a></li>
      <li><a href="#">{% trans "Blog" %}</a></li>
    </ul>
  </nav>

  <div id="account-links" class="col-md-3">
    <span id="my-space">{% trans "Mon Espace" %}</span>
    <div id="login-area">
      <ul>
        <li><a href="{% url "accounts:login" %}">{% trans "Connexion" %}</a></li>
        <li><a href="{% url "accounts:signup" %}">{% trans "Inscription" %}</a></li>
      </ul>
    </div>
    <div id="login-help">
      <a href="#">{% trans "Mot de passe oublié ?" %}</a>
    </div>
  </div>

{% endif %}