{% extends 'layout.html' %}

{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}
{% load flatblock_tags %}

{% block header-additionnal-data %}

<div id="header-carousel" class="row">
    <div class="col-md-12">

        <div id="carousel-base" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-base" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-base" data-slide-to="1"></li>
            </ol>

            <!-- Carousel items -->
            <div class="carousel-inner">
              {% for carousel_image in carousel_images %}
                <div class="item{% if carousel_image.position == 1 %} active{% endif %}"><img src="{{ carousel_image.image.url }}"
                  alt="slide{{ carousel_image.position }}"/></div>
              {% endfor %}
            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#carousel-base" data-slide="prev">
            </a>
            <a class="carousel-control right" href="#carousel-base" data-slide="next">
            </a>
        </div>
    </div>
</div>

{% endblock %}


{% block content %}


<div id="ode-presentation" class="content-block">
    <div class="row">
        <div class="col-md-12">
            {% flatblock "ode-presentation" %}
        </div>
    </div>
</div>

<div class="last-news content-block">
    <div class="row title">
        <div class="col-md-12">
            <h2>{% trans 'LES DERNIERES NEWS DU RESEAU' %}</h2>
        </div>
    </div>

    {% for entry in blog_entries %}
    <div class="row news">
        <div class="col-md-2 news-image">
            <img src="{% thumbnail entry.image 150x150 crop="smart" %}"/>
        </div>
        <div class="col-md-9 news-content">
            <div class="row">
                <div class="col-md-12 news-title">
                    <h3>{{ entry.title }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 news-description">
                    <span>{{ entry.html_preview|safe }}</span>
                </div>
            </div>
        </div>
    <a href="{{ entry.get_absolute_url }}">
          <div class="col-md-1 news-more">
          </div>
    </a>
    </div>
    {% endfor %}

</div>

<div class="provider-listing content-block">
    <div class="row title">
        <div class="col-md-12">
            <h2>{% trans 'FOURNISSEURS DE DONNEES' %}</h1>
        </div>
    </div>
    <div class="row title">
        <div id="carousel-providers" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-providers" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-providers" data-slide-to="1"></li>
            </ol>

            <!-- Carousel items -->
            <div class="carousel-inner">
          {% for i in providers_range %}
          {% with provider=providers.pop %}
          {% if i|divisibleby:6 %}
          <div class="item{% if i == 0 %} active{% endif %}">
                <ul class="thumbnails">
          {% endif %}
                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="{% thumbnail provider.picture 100x100 crop="smart" %}" alt="{{ provider.name }}" title="{{ provider.name }}"/>
                    </div>
                  </li>
          {% if i|add:1|divisibleby:6 or i == providers_range|last %}
        </ul>
          </div>
          {% endif %}
          {% endwith %}
          {% endfor %}
            </div>

            <!-- Carousel nav -->
            <a class="carousel-control left" href="#carousel-providers" data-slide="prev">
            </a>
            <a class="carousel-control right" href="#carousel-providers" data-slide="next">
            </a>
        </div>

    </div>
</div>

<div class="consumer-listing content-block">
    <div class="row title">
        <div class="col-md-12">
            <h2>{% trans 'REUTILISATEURS DE DONNEES' %}</h1>
        </div>
    </div>

    <div class="row title">
        <div id="carousel-consumers" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-consumers" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-consumers" data-slide-to="1"></li>
            </ol>

            <!-- Carousel items -->
            <div class="carousel-inner">
          {% for i in consumers_range %}
          {% with consumer=consumers.pop %}
          {% if i|divisibleby:6 %}
          <div class="item{% if i == 0 %} active{% endif %}">
                <ul class="thumbnails">
          {% endif %}
                  <li class="col-md-2">
                    <div class="thumbnail">
                      <img src="{% thumbnail consumer.picture 100x100 crop="smart" %}" alt="{{ consumer.name }}" title="{{ consumer.name }}" />
                    </div>
                  </li>
          {% if i|add:1|divisibleby:6 or i == consumers_range|last %}
        </ul>
          </div>
          {% endif %}
          {% endwith %}
          {% endfor %}
            </div>

            <!-- Carousel nav -->
            <a class="carousel-control left" href="#carousel-consumers" data-slide="prev">
            </a>
            <a class="carousel-control right" href="#carousel-consumers" data-slide="next">
            </a>
        </div>
    </div>
</div>

{% endblock %}
