{% extends 'layout.html' %}
{% load i18n %}

{% block content %}

<h1>{% trans "Import de données" %}</h1>

<div class="row">

    <div class="col-md-6 import-events">
        <div class="title"><h2>{% trans "IMPORTER DES ÉVÉNEMENTS" %}</h2></div>
        <div class="description"><span>{% trans "Vous pouvez importer des événements à partir de fichiers au format json/iCalendar/csv. Il vous suffit de cliquer sur le bouton 'Parcourir' ci-dessous et de sélectionner le fichier correspondant." %}</span></div>
        <form action="{% url 'imports_file' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="fieldWrapper{% if errors.events_file %} has-error{% endif %}">
                            <label class="control-label">{% trans "Choisir un fichier :" %}</label>
                            <input type="file" name="events_file">
                            {% if errors.events_file %}
                                <span class="help-block">{{ errors.events_file }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-default">{% trans "Importer" %}</button>
        </form>
        <h3>{% trans "Exemples" %}</h3>
        {% trans "JSON&nbsp;:" %}
        <pre>
{
    "collection": {
        "items": [
            {
                "data": [
                    { "name": "id", "value": "e835ab8248dac8a17b26267c52172786d2eae46d" },
                    { "name": "start_time", "value": "2015-01-30T23:30:00" },
                    { "name": "end_time", "value": "2015-02-01T00:00:00" },
                    { "name": "organiser", "value": "John Doe" },
                    { "name": "email", "value": "john.doe@example.com" },
                    { "name": "title", "value": "Event Title" },
                    { "name": "description", "value": "Description" }
                ]
            }
        ]
    }
}
        </pre>
        {% trans "iCalendar&nbsp;:" %}
        <pre>
BEGIN:VCALENDAR
PRODID:-//ABC Corporation//NONSGML My Product//EN
VERSION:2.0
BEGIN:VEVENT
UID:e835ab8248dac8a17b26267c52172786d2eae46d
DTSTART:20150130T233000Z
DTEND:20150201T000000Z
ORGANIZER;CN=John Doe:MAILTO:john.doe@example.com
SUMMARY:Event Title
DESCRIPTION:Description
END:VEVENT
        </pre>
        {% trans "CSV&nbsp;:" %}
        <pre>
id,firstname,lastname,email,telephone,description,language,latlong,organiser,performers,press_url,price_information,source,source_id,target,title,url,provider_id,start_time,end_time,publication_start,publication_end,press_contact_email,press_contact_name,press_contact_phone_number,ticket_contact_email,ticket_contact_name,ticket_contact_phone_number,location_id,location_name,location_address,location_post_code,location_capacity,location_town,location_country,tags,categories,images,sounds,videos
e835ab8248dac8a17b26267c52172786d2eae46d,,,john.doe@example.com,,Description,,,John Doe,,,,,,,Event Title,,,2015-01-30T23:30:00,2015-02-01T00:00:00,,,,,,,,,,,,,,,,,,,,
        </pre>
    </div>

    <div class="col-md-6 import-sources">

        <div class="title"><h2>{% trans "AJOUTER DES SOURCES" %}</h2></div>
        <div class="description"><span>{% trans "Vous pouvez ajouter des sources de données qui permettront de récupérer automatiquement les événements accessible via ces sources. Il vous suffit de saisir l'url correspondant à ces sources de données ci-dessous." %}</span></div>

        <form action="{% url 'imports_source' %}" method="POST">
            {% csrf_token %}
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                      <div class="fieldWrapper {% if errors.url %}has-error{% endif %}">
                            <label class="control-label">{% trans "Saisir une URL :" %}</label>
                            <input type="text" class="form-control" name="url"{% if input %} value="{{ input.url }}"{% endif %}>
                            {% if errors.url %}
                                <span class="help-block">{{ errors.url }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-default">{% trans "Ajouter" %}</button>
        </form>

        <table id="sources-listing" class="datatable-listing table table-striped" data-source="{% url 'source_json_list' %}">
          <thead>
            <tr>
              {% for label in source_column_labels %}
                <th>{{label}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for label in source_column_labels %}
                <td></td>
              {% endfor %}
            </tr>
          </tbody>
        </table>

        <a href="{% url 'source_delete_rows' %}" class="btn btn-default datatable-delete-rows" data-source="#sources-listing">{% trans "Supprimer" %}</a>

    </div>
</div>
{% endblock %}
