{% extends 'layout.html' %}
{% load i18n %}

{% block content %}

<h1>{% trans "Import de données" %}</h1>

<div class="row">

    <div class="col-md-6 import-events">
        <div class="title"><h2>{% trans "IMPORTER DES ÉVÉNEMENTS" %}</h2></div>
        <div class="description"><span>{% trans "Vous pouvez importer des événements à partir de fichiers au format json/xml/iCal/csv. Il vous suffit de cliquer sur le bouton 'Parcourir' ci-dessous et de sélectionner le fichier correspondant." %}</span></div>
        
        <form action="#" method="POST">
            {% csrf_token %}
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="fieldWrapper">
                            <label class="control-label">{% trans "Choisir un fichier :" %}</label>
                            <input type="file" name="events_file">
                        </div>
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-default">{% trans "Importer" %}</button>
        </form>
    </div>

    <div class="col-md-6 import-sources">

        <div class="title"><h2>{% trans "AJOUTER DES SOURCES" %}</h2></div>
        <div class="description"><span>{% trans "Vous pouvez ajouter des sources de données qui permettront de récupérer automatiquement les événements accessible via ces sources. Il vous suffit de saisir l'url correspondant à ces sources de données ci-dessous." %}</span></div>

        <form action="{% url 'imports' %}" method="POST">
            {% csrf_token %}
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="fieldWrapper">
                            <label class="control-label">{% trans "Saisir une URL :" %}</label>
                            <input type="text" class="form-control" name="url"{% if input %} value="{{ input.url }}"{% endif %}>
                            {% if errors.url %}
                                <span class="help-block">{{ errors.url }}</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </fieldset>
            <button type="submit" class="btn btn-default">{% trans "Ajouter" %}</button>
        </form>

        <table id="sources-listing" class="datatable-listing table table-striped" data-source="{% url 'source_json_list' %}">
          <thead>
            <tr>
              {% for label in source_column_labels %}
                <th>{{label}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            <tr>
              {% for label in source_column_labels %}
                <td></td>
              {% endfor %}
            </tr>
          </tbody>
        </table>

        <a href="{% url 'source_delete_rows' %}" class="btn btn-default datatable-delete-rows" data-source="#sources-listing">{% trans "Supprimer" %}</a>

    </div>
</div>
{% endblock %}
