<!DOCTYPE html>
{% load compressed %}
{% load staticfiles %}
{% load i18n %}
<html lang="fr">
  <head>
    {% compressed_css 'style' %}
    <title>{% trans "ODE" %}</title>
  </head>
  <body>
    <header>
      <div id="header-content" class="container">
        <div class="row">
          <div id="site-logo" class="col-md-2">
            <a href="/"><img src="{% static 'img/site_logo.png' %}" alt="logo"/></a>
          </div>
          {% include "header_area.html" %}
        </div>
      </div>
    </header>

    <div id="main-content" class="container">
      
      {% if messages %}
      {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>
    {% compressed_js 'scripts' %}
  </body>
</html>
