<!DOCTYPE html>
{% load compressed %}
<html lang="fr">
  <head>
    {% compressed_css 'style' %}
    <title>ODE</title>
  </head>
  <body>
    <div class="container">
      <div id="account-links">
        <ul>
          {% if user.is_authenticated %}
          <li><a href="{% url "accounts:logout" %}">Déconnexion</a></li>
          <li><a href="{% url "accounts:edit_profile" %}">Profil</a></li>
          {% else %}
          <li><a href="{% url "accounts:login" %}">Connexion</a></li>
          <li><a href="{% url "accounts:signup" %}">Inscription</a></li>
          {% endif %}
        </ul>
      </div>
      {% if messages %}
      {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}
      {% block content %}
      {% endblock %}
    </div>
    {% compressed_js 'scripts' %}
  </body>
</html>
