{% extends 'layout.html' %}
{% load i18n %}

{% block body %}

<form action="{% url 'sources:create' %}" method="POST"  class="form-horizontal">
  {% csrf_token %}
  <legend>{% trans 'Create a new event source' %}</legend>
  <fieldset>
    <div class="control-group {% if errors %}error{% endif %}">
      <label  class="control-label" for="url">{% trans 'URL' %}</label>
      <div class="controls">
        <input id="url" name="url"{% if input %} value="{{ input.url }}"{% endif %}>
        {% if errors.0.description %}
        <span class="help-inline">{{ errors.0.description }}</span>
        {% endif %}
      </div>
    </div>
    <input type="submit" class="btn">
  </fieldset>
</form>

{% endblock %}
