{% extends 'layout.html' %}

{% block body %}

<form action="{% url 'sources_create' %}" method="POST"  class="form-horizontal">
  {% csrf_token %}
  <legend>Ajouter une nouvelle source d'événements</legend>
  <fieldset>
    <div class="control-group {% if errors %}error{% endif %}">
      <label  class="control-label" for="url">URL</label>
      <div class="controls">
        <input id="url" name="url"{% if input %} value="{{ input.url }}"{% endif %}>
        {% if errors.url %}
        <span class="help-inline">{{ errors.url }}</span>
        {% endif %}
      </div>
    </div>
    <button type="submit" class="btn">Enregistrer</button>
  </fieldset>
</form>

{% endblock %}
