{% extends 'layout.html' %}
{% load i18n %}

{% block body %}

{% if errors %}
  <div class="errors">
  {% blocktrans %}
  This event source is invalid.
  {% endblocktrans %}
  </div>
{% endif %}

<form action="{% url 'sources:create' %}" method="POST">
  {% csrf_token %}
  <legend>{% trans 'Create a new event source' %}</legend>
  <p>
    <label for="url">{% trans 'URL' %}</label>
    <input id="url" name="url">
    {% if errors.0.description %}
    <div class="field-error">
      {{ errors.0.description }}
    </div>
    {% endif %}
  </p>
  <input type="submit">
</form>

{% endblock %}
