{% extends 'layout.html' %}
{% load i18n %}

{% block content %}

<h1>{% trans "Webservices" %}</h1>

<h2>{% trans "Présentation générale" %}</h2>
<p>
L'API du projet ODE autorise les utilisateurs à interagir avec 2 types de données : les événements et les sources. Les sources sont uniquement des URL pointant vers des flux d'événements (au format iCalendar ou json) qui sont lus périodiquement afin de mettre à jour la base de donnée ODE.
</p>
<p>
L'API ODE est basée sur le concept de <a href="http://amundsen.com/media-types/collection/">Collection+JSON</a>, un type de format json orienté vers la lecture/écriture d'hypermédias et pensé pour faciliter la gestion et le requêtage de listes de données. Les événements peuvent aussi être exportés/importés aux formats <a href="https://tools.ietf.org/html/rfc5545">iCalendar</a> et csv. Ce format Collection+JSON n'est toutefois pas utilisé pour les rapports d'erreurs car il n'est pas suffisamment flexible pour nos besoins. Les erreurs sont au format <a href="https://cornice.readthedocs.org/en/latest/validation.html?highlight=error#dealing-with-errors">Cornice</a>.
</p>

<h2>{% trans "Authentification" %}</h2>
<p>
{% blocktrans %}
Pour accéder à l'API, veuillez inclure votre clé personnelle dans vos requêtes
à l'aide de l'entête HTTP<code>Authorization</code>.
{% endblocktrans %}
</p>
<div class="panel panel-default">
  <div class="panel-heading">{% trans 'Votre clé' %}</div>
  <div class="panel-body">
    {{ key }}
  </div>
</div>

<h2>{% trans "URLs accessibles" %}</h2>
<p>
{% trans "Les URLs pour accéder aux données sont les suivantes:" %}
</p>
<table class="table">
  <thead>
   <tr>
    <th>{% trans "Ressource" %}</th>
    <th>{% trans "Description" %}</th>
   </tr>
  </thead>
  <tbody>
      <tr>
        <td><span class="http-method">GET</span>{{ events_url }}</td>
        <td>{% trans "Permet de récupérer tous les événements" %}</td>
      </tr>
      <tr>
        <td><span class="http-method">GET</span>{{ sources_url }}</td>
        <td>{% trans "Permet de récupérer toutes les sources d'événements" %}</td>
      </tr>
  </tbody>  
</table>

<h2>{% trans "Plus d'informations" %}</h2>
Voir <a href="https://ode.readthedocs.org/">la documentation</a> pour plus d'informations.

{% endblock %}
